.firstConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.firstConfirm-title {
  font-size: 20px;
}

.firstConfirm-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.firstConfirm-DomainValid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstConfirm-DomainValid input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.firstConfirm-DomainValid button {
  width: 100px;
  padding: 10px;
  background-color: #ea6363;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 4, 0.2) 0px 1px 4px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}

.firstConfirm-DomainValid button:hover {
  background-color: #f57c7c;
  transition: all 0.3s ease-in-out;
}

.firstConfirm-contentData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 4, 0.2) 0px 1px 4px;
}

.firstConfirm-contentData span {
  color: #ea6363;
  font-weight: bold;
}

.firstConfirm-contentData span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.firstConfirm-buttonContinue {
  width: 100%;
  padding: 10px;
  background-color: #ea6363;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 4, 0.2) 0px 1px 4px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}
