.products-description {
  padding: 10px;
  flex: 1 0 auto;
  width: 120px;
  margin: 0 10px;
  box-shadow: var(--shadow-theme2-secondary);
  border-radius: 10px;
  background-color: var(--color-theme2-quaternary);
  text-align: center;
}

.special {
  border-radius: 10px;
  background: var(--color-theme2-tertiary); 
  font-weight: bold;
}
