.products {
  min-height: 90vh;
  padding: 40px 20px;
}

.products-arrow {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin: 20px;
}

.products-data-title {
  padding: 25px 0;
}

.products-subcategories {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: auto;
  padding: 5px;
}

.products-subcategories::-webkit-scrollbar {
  display: none;
}

.products-items {
  width: 100%;
  padding-top: 20px;
}
