/*!*****************************************************

Freak Flags, Copyright ©2023 Michael P. Cohen. Freak flags is licenced under the MIT licence.  

For complete information visit: www.freakflagsprite.com 

******************************************************/

.fflag {
    background-image:url(flagSprite42.png);
    background-repeat:no-repeat;
    background-size: 100% 49494%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    box-sizing: content-box;
}
.fflag-en {background-position:center 0.2287%}
.fflag-fr {background-position:center 0.4524%}
.fflag-de {background-position:center 0.6721%}
.fflag-it {background-position:center 0.8958%}
.fflag-es {background-position:left 1.1162%}
.fflag-gb {background-position:center 1.3379%}

.fflag.ff-sm {width: 18px;height: 11px}
.fflag.ff-md {width: 27px;height: 17px}
.fflag.ff-lg {width: 42px;height: 27px}
.fflag.ff-xl {width: 60px;height: 37px}
.fflag.ff-lt {box-shadow: 0 0 0 1px rgb(220,220,220)}
.fflag.ff-dk {box-shadow: 0 0 0 1px rgb(90,90,90)}

/* ff-round = circular icons */
.ff-round {
	background-size: 160%;
	background-clip: content-box;
	border-radius: 50%;
}
.ff-round.ff-sm {width: 12px; height: 12px}
.ff-round.ff-md {width: 18px; height: 18px}
.ff-round.ff-lg {width: 24px; height: 24px}
.ff-round.ff-xl {width: 32px; height: 32px}
