.contactScreen {
  display: flex;
  width: 100%;
  padding: 40px 80px;
  gap: 50px;
}

.contactScreen-mainContact {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.contactScreen-mainContact h2 {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 600;
}

.contactScreen-editable {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.contactScreen-mainContact label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color-complementary);
}

.contactScreen-contentForm {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.contactScreen-contentDays {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactScreen-rangeHours {
  width: 200px;
  height: 50px;
  margin: 5px;
}

.contactScreen-contentDays button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background: none;
  color: #17202a;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.contactScreen-buttonAddDay {
  width: 50px;
  height: 50px;
  background: #17202a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.contactScreen-buttons {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  gap: 30px;
}

.contactScreen-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.contactScreen-buttons button img {
  width: 45px;
  height: 45px;
}

.contactScreen-icon {
  font-size: 30px;
}

.contactScreen-visualizer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactScreen-visualizer h3 {
  color: var(--color-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 24px;
}

.contactScreen-contentComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 850px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.margin-bottomContact {
  margin-bottom: 30px;
}
