.requestPassword {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 5px solid white;
  border-radius: 8px;
}

.requestPassword-title {
  font-size: 30px;
  text-align: center;
  color: #ea6363;
}

.requestPassword-message {
  margin-bottom: 30px;
  text-align: center;
  color: #ccc;
}

.requestPassword-form {
  display: flex;
  flex-direction: column;
}

.requestPassword-form input {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.requestPassword-form input:focus {
  outline: none;
}

.requestPassword-form button {
  width: 100%;
  background-color: #ea6363;
  padding: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.requestPassword-form button:hover {
  background-color: #d94f4f;
  color: white;
}
