.contact {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  padding-bottom: 140px;
  text-align: center;
  color: var(--white-color);
}

.contact-address-title {
  padding-bottom: 15px;
  font-weight: 900;
}

.contact-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-hours p {
  text-align: center;
}

.contact-hours-title {
  padding: 15px 0;
  font-weight: 900;
}

.contact-hours-contentHours {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  gap: 8px;
  flex-wrap: wrap;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info-title {
  padding: 15px 0;
  font-weight: 900;
}

.contact-social {
  display: flex;
  justify-content: center;
  gap: 23px;
  padding-top: 20px;
  width: 80%;
  margin-bottom: 20px;
  align-items: center;
}

.contact-networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}

.contact-networks img {
  width: 55px;
  height: auto;
  cursor: pointer;
}
