.custom {
  margin: 0 15px;
}

.custom_title {
  padding: 20px 0;
  font-weight: 900;
}

.custom_contentText {
  background: var(--color-theme2-quinary);
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
}

.custom_text {
  font-size: 20px;
  color: var(--white-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.custom_carousel {
  width: 100%;
  height: auto;
}

.custom_btnscrl {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.custom_btnscrl_link {
  border-radius: 5px;
  background: var(--color-theme2-tertiary);
  box-shadow: var(--shadow-theme2-primary);
  height: 45px;
  font-size: 20px;
  font-weight: 900;
  color: var(--color-theme2-primary) !important;
  text-transform: uppercase;
  border: none;
}

.custom_btnscrl_link:hover {
  outline: none;
}

.custom_btnscrl_reserve {
  border-radius: 5px;
  background: var(--color-theme2-quaternary);
  box-shadow: var(--shadow-theme2-primary);
  font-size: 20px;
  height: 45px;
  font-weight: 900;
  color: var(--color-theme2-primary);
  text-transform: uppercase;
  border: none;
}

.custom_btnscrl_reserve:hover {
  background: var(--shadow-theme2-quaternary);
  color: var(--color-theme2-primary) !important;
  outline: none;
}
