.menu {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 30px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    #f2f2f2 16.67%,
    #e3e3e3 34.9%,
    #fff 100%
  );
}

.menu-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}

.menu-contentLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
}

.active {
  background-color: #333;
}

.filter {
  filter: invert(100%);
}

.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-links img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
