.products-description {
  padding: 10px;
  flex: 1 0 auto;
  width: 120px;
  margin: 0 10px;
  box-shadow: var(--shadow-theme1-secondary);
  border-radius: 10px;
  background-color: var(--color-theme1-quaternary);
  text-align: center;
}

.special {
  border-radius: 10px;
  background: var(--color-theme1-tertiary);
  font-weight: bold;
  color:var(--color-theme1-primary);
}
