.hero a {
  text-decoration: none;
}

.hero-title {
  text-align: left;
  color: brown;
}

.padding-center {
  padding: 35px 0;
  padding-top: 80px;
  text-align: center;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left {
  justify-content: left;
}

.hero-logo-img {
  max-width: 140px;
  max-height: 75px;
}

.padding {
  padding: 40px;
  padding-top: 60px;
}
