.index {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  overflow: auto;
  height: 100%;
}

.index-home {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.index-background {
  height: 100%;
}

.index-contentHero {
  z-index: 100;
  width: 50%;
  padding: 15px 0px 0px 15px;
}

.index-arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.index-about {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.index-contact {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.index-prev {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
