.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-contentHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  max-width: 400px;
  height: 500px;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

.login-logo {
  margin-bottom: 30px;
}

.login-buttonGoogle p {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.login-IconGoogle {
  font-size: 20px;
  transition: 0.3s;
}

.login-buttonEmail {
  margin-bottom: 30px;
}

.login-contentHome button {
  width: 100%;
  height: 54px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  transition: 0.3s;
}

.login-contentHome button:hover {
  transition: 0.3s;
  background-color: var(--color-complementary2);
}

.login-contentHome a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 5px;
  background-color: var(--white-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.login-text {
  margin-bottom: 15px;
}

.login-content {
  padding: 40px;
  border-radius: 10px;
  width: 430px;
  max-width: 430px;
  min-height: 360px;
  border: 5px solid var(--white-color);
  backdrop-filter: blur(10px);
}

.login-buttonBack {
  padding: 5px;
  border-radius: 10px;
  background: #d9d9d9;
  border: none;
  cursor: pointer;
}

.login-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
}

.login-subtitle {
  text-align: center;
  font-size: 13px;
  margin-bottom: 25px;
  color: #868383;
}

.login-form input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.login-contentNext button {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: #ea6363;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease all;
}

.login-contentNext button:hover {
  background-color: #d94f4f;
  transition: 0.5s ease all;
}

.login-inputUsername {
  margin-bottom: 10px;
}

.login-recpassword {
  text-align: left;
  font-size: 12px;
  color: var(--black-color);
  cursor: pointer;
  margin-top: 5px;
}

.login-recpassword:hover {
  text-decoration: underline;
}

.login-contentNext {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-error {
  color: red;
  font-size: 0.8rem;
  text-align: center;
}

.login-contentLink {
  display: flex;
  justify-content: end;
  width: 100%;
  font-size: 10px;
  color: #868383;
  text-decoration: none;
}

.login-linkSignup {
  margin-left: 5px;
  color: var(--color-theme1-tertiary);
  text-decoration: underline;
  cursor: pointer;
}

.login-contentOther {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-textOther {
  font-size: 12px;
  color: #868383;
  margin: 20px 0;
}

.login-buttonGoogle {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s ease all;
  color: #ea6363;
  cursor: pointer;
}

.login-buttonGoogle:hover {
  transition: 0.5s ease all;
  background-color: var(--color-theme1-tertiary);
  color: white;
  .login-IconGoogle {
    color: white;
    transition: 0.3s;
  }
}

.login-IconGoogle {
  font-size: 40px;
  color: var(--color-theme1-tertiary);
}

@media (max-width: 600px) {
  .login-content {
    width: 100%;
    max-width: 100%;
  }
}
