.domain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.domain-buttonBack {
  position: absolute;
  top: 15px;
  left: 15px;
  background: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.domain-buttonBack:hover {
  background: #ebe6e6;
  transition: all 0.3s ease-in-out;
}

.domain-iconBack {
  font-size: 30px;
  color: #ea6363;
  transition: all 0.3s ease-in-out;
}
