.custom {
  margin: 0 15px;
}

.custom-title {
  padding: 20px 0;
  font-weight: 900;
}

.custom-contentText {
  background: rgba(216, 216, 216, 0.5);
  border-radius: 10px;
  padding: 25px;
  margin: 30px 0;
}

.custom-text {
  font-size: 20px;
}

.custom-carousel {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.custom-btnscrl {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5%;
}

.custom-btnscrl-link {
  border-radius: 5px;
  background: #ea6363;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  height: 50px;
  font-size: 20px;
  color: #ffff;
  border: none;
}

.custom-btnscrl-link:hover {
  background: #ea6363;
  color: #ffff !important;
  outline: none;
}

.custom-btnscrl-reserve {
  border-radius: 5px;
  background: #f4f4f4;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  height: 50px;
  border: none;
}

.custom-btnscrl-reserve:hover {
  background: #f4f4f4;
  color: #000 !important;
  outline: none;
}
